Source: libmoosex-classattribute-perl
Section: perl
Priority: optional
Maintainer: root <root@38fac86a5734>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/MooseX-ClassAttribute/

Package: libmoosex-classattribute-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Declare class attributes Moose-style
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
